body {
    margin: 0;
    font-family: "Neue Montreal","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    line-height: 1.428571429;
    letter-spacing: 0.6px;
    color: #001e00;
    background-color: #fff;
}
.container,
.container-visitor {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(var(--grid-gutter-width)/2);
    padding-left: calc(var(--grid-gutter-width)/2);
}
.pt-10,
.py-10 {
    padding-top: 10px!important;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.layout {
    flex: 1 0 auto;
}

.nav-v2.nav-visitor-skinny {
    --nav-visitor-height: 64px;
    --nav-visitor-bg: var(--nav-bg);
    --nav-visitor-zindex: var(--zindex-navbar-fixed);
    --nav-visitor-shadow: var(--nav-shadow);
}
form#loginForm{
    padding-bottom: 30px;
}
label.error{
    color: red;
}
.h1.display-rebrand, .h2.display-rebrand, .h3.display-rebrand, .h4.display-rebrand, .h5.display-rebrand, .h6.display-rebrand, h1.display-rebrand, h2.display-rebrand, h3.display-rebrand, h4.display-rebrand, h5.display-rebrand, h6.display-rebrand {
    font-family: Rza,Rza-fallback;
    font-weight: 400;
}

h2.display-rebrand {
    font-size: 36px;
    line-height: 37px;
    letter-spacing: 0.032rem;
}


header {
    display: block;
}

.nav-v2 .up-skip-nav {
    padding: 14px var(--nav-ws-4x);
    font-size: calc(var(--font-size-base) + 1px);
    background: var(--nav-bg);
    color: var(--nav-text-accent);
    z-index: calc(var(--zindex-navbar-fixed) + 1);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.nav-v2 .nav-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: min(var(--nav-container-width),var(--nav-container-max-width));
    padding-right: var(--nav-container-padding);
    padding-left: var(--nav-container-padding);
}

.up-card {
    --card-margin-y: 10px;
    --card-margin-x: -15px;
    --card-padding-y: 15px;
    --card-padding-x: 15px;
    --card-separator-border: 1px solid transparent;
    position: relative;
    background-color: #fff;
    margin: 30px -30px;
    border-radius: 20px;
    border: 1px solid #d5e0d5;
}

.pb-0, .py-0 {
    padding-bottom: 0!important;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}

.up-form-group {
    margin: 0 0 30px;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.mb-20,
.my-20 {
    margin-bottom: 20px!important;
}

.auth-card-top-padding {
    padding-top: 30px;
}

.text-center {
    text-align: center!important;
}

*, :after, :before {
    box-sizing: border-box;
}

.up-loader-container {
    position: relative;
}

.d-none {
    display: none!important;
}

.m-0 {
    margin: 0!important;
}

.h1, h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
    color: #001e00;
    font-family: inherit;
}

.mb-30, .my-30 {
    margin-bottom: 30px!important;
}

.up-form-group {
    margin: 0 0 30px;
}

.mb-20, .my-20 {
    margin-bottom: 20px!important;
}
.mx-30{
    margin-right: 30px;
    margin-left: 30px
}
.pl-0 {
    padding-left: 0px!important;
}
.pr-0 {
    padding-right: 0px!important;
}
.show-hide-password {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: var(--input-group-icon-padding);
}

.up-input-group {
    --input-group-input-padding: 48px;
    --input-group-icon-padding: 15px;
    position: relative;
}

.up-input-group-append {
    right: 0;
    padding-right: 15px;
}
button {
    color: inherit;
}
.up-input-group-append,
.up-input-group-prepend {
    pointer-events: none;
}

.up-input-group-append,
.up-input-group-between,
.up-input-group-prepend {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.up-input-group-prepend {
    padding-left: 15px;
}

.up-input-group-append > .up-icon,
.up-input-group-between > .up-icon,
.up-input-group-prepend > .up-icon {
    color: #001e00;
}

.up-icon {
    --size: 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
}

.up-icon.sm {
    --size: 12px;
}

.up-icon > svg {
    fill: currentColor;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%!important;
    height: 100%!important;
    display: block;
    overflow: visible;
}

.up-input-group .up-input:last-child {
    padding-right: 15px;
}
.up-input-group .up-input {
    padding-right: 48px;
}
.up-input-group-prepend+.up-input {
    padding-left: 48px;
}

.up-input {
    --input-height: 40px;
    --input-padding-vertical: 2px;
    --input-padding-horizontal: 15px;
    --input-height-sm: 30px;
    --input-padding-vertical-sm: 0;
    --input-padding-horizontal-sm: 7px;
    display: block;
    width: 100%;
    border: 2px solid #e4ebe4;
    border-radius: 8px;
    color: currentColor;
    background-image: none;
    background-clip: padding-box;
    font-family: inherit;
    font-size: 14px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 0;
    min-height: 40px;
    padding: 2px 15px 0 15px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.full-width {
    width: 100%!important;
}

.up-btn-block {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.up-btn-primary {
    color: #fff;
    background-color: #cbbe68;
    border-color: transparent;
}

.up-btn {
    --btn-circle-size: 40px;
    --btn-padding-vertical: 0;
    --btn-padding-horizontal: 29px;
    --btn-padding: 0 29px;
    --btn-padding-vertical-sm: 0;
    --btn-padding-horizontal-sm: 15px;
    --btn-padding-sm: 0 15px;
    --btn-link-padding-horizontal: 20px;
    --btn-link-padding: 12px 20px;
    --btn-margin: 0 20px 30px 0;
    --btn-margin-sm: 0 20px 20px 0;
    margin: 0 20px 30px 0;
    padding: 0 29px;
    box-shadow: none;
    border: 2px solid;
    border-radius: 10rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 39px;
    max-height: 40px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .15s;
    cursor: pointer;
}

.up-card-footer, .up-card-header, .up-card-section {
    margin: 0 -30px;
}

.up-card, .up-card-footer, .up-card-header, .up-card-section {
    padding: 25px 30px;
}

.pb-20, .py-20 {
    padding-bottom: 20px!important;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.pt-20, .py-20 {
    padding-top: 20px!important;
}

.line-heading {
    overflow: hidden;
    text-align: center;
}

.pb-10, .py-10 {
    padding-bottom: 10px!important;
}
.mb-10, .my-10 {
    margin-bottom: 10px!important;
}
.mt-10, .my-10 {
    margin-top: 10px!important;
}
.text-muted {
    color: #5e6d55!important;
}
.line-heading:before {
    right: 10px;
    margin-left: -50%;
}
.line-heading:after {
    left: 10px;
    margin-right: -50%;
}
.line-heading:after, .line-heading:before {
    background-color: #8f8e8e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.up-btn:is(a) {
    --underline-link: none;
    --underline-link-hover: none;
}

.up-btn-default {
    color: #cbbe68;
    background-color: #fff;
}

a {
    color: #cbbe68;
    text-decoration: none;
    font-weight: 500;
}

.footer-visitor-skinny {
    flex: none;
    margin: auto 24px 24px;
    padding: 48px 0;
    border-top: 0;
    border-radius: 8px;
    background-color: #1f2716;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.footer-visitor-skinny {
    --footer-bg: #001e00;
    --footer-text: #fff;
    --footer-radius: 8px;
    --footer-margin: auto var(--ws-mobile-x) var(--ws-mobile-x);
    --footer-padding: 48px 0;
    --footer-border-top: 0;
    --footer-font-weight: 400;
    --footer-container-max-width: 1600px;
}

.container, .container-visitor {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(var(--grid-gutter-width)/2);
    padding-left: calc(var(--grid-gutter-width)/2);
}

.footer-visitor-skinny .up-footer-copyright {
    margin: 0;
}

p {
    margin: 0 0 30px;
    margin: 0 0 var(--ws-lg);
    line-height: 22px;
}

small {
    font-size: var(--font-size-base-xs);
    line-height: var(--line-height-base-xs);
}


.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 15px;
    margin-left: 15px; */
}

.up-btn:hover {
    text-decoration: none;
}

@media (min-width: 480px){
    .container-visitor {
        width: 462px;
    }
}
@media (min-width: 700px) {
    .nav-v2.nav-visitor-skinny {
        position: sticky;
        top: 0;
        height: var(--nav-visitor-height);
        width: 100%;
        z-index: var(--nav-visitor-zindex);
    }
    .nav-v2.nav-visitor-skinny .nav-wrapper {
        height: 100%;
        background: var(--nav-visitor-bg);
        position: relative;
        z-index: 1;
    }
    .d-md-block {
        display: block!important;
    }
    .d-md-block {
        display: block!important;
    }
    .footer-visitor-skinny {
        --footer-margin: auto var(--ws-6x) var(--ws-6x);
    }
}

@media (max-width: 767.98px){
    .auth-growable-flex {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: none!important;
        box-shadow: none;
        border-radius: 0;
    }
    .container, .container-visitor {
        --card-radius-custom: 0;
    }
    footer {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    .pt-md-30,
    .py-md-30 {
        padding-top: 30px!important;
    }
    .pl-md-15,
    .px-md-15 {
        padding-left: 15px!important;
    }
    .pr-md-15,
    .px-md-15 {
        padding-right: 15px!important;
    }
    .pl-md-30,
    .px-md-30 {
        padding-left: 30px!important;
    }
    .pr-md-30,
    .px-md-30 {
        padding-right: 30px!important;
    }
    .mt-md-30, .my-md-30 {
        margin-top: 30px!important;
    }
    .up-card {
        --card-margin-y: 30px;
        --card-margin-x: -30px;
        --card-padding-y: 30px;
        --card-padding-x: 30px;
    }
    .col-md-offset-1 {
        margin-left: 8.33333%;
    }
    .col-md-offset-2 {
        margin-left: 16.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .d-md-block {
        display: block!important;
    }
    .col-md-offset-1 {
        margin-left: 8.33333%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .width-sm {
        width: 218px!important;
        min-width: 218px!important;
        max-width: none;
    }
    .mt-md-20, .my-md-20 {
        margin-top: 20px!important;
    }
}
@media (min-width: 992px) {
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .nav-v2 .nav-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media (hover: hover){
    .up-btn-primary.active, .up-btn-primary:active, .up-btn-primary:focus, .up-btn-primary:hover {
        color: var(--text-inverse);
        background-color: #108a00;
    }
    .up-btn:active, .up-btn:hover {
        transition: all .3s;
        box-shadow: var(--drop-shadow-active);
    }
}